@import 'vars';

.carousel{
    .carousel-btn{
        width: 50px;
        height: 57px;
        display: inline-block;
        background:$paleteColor3;
    }
}

.header_footer-wrapper span{
    background: rgb(180, 148, 148);
}