// File for scss-vars.
// For example: main colors, paddings and so on.

$paleteColor1: #76c7c0;
$paleteColor13: #76b8b2;
$paleteColor2: #fff;
$paleteColor3: #62a29e;
$paleteColor4: #528b86;
$paleteColor5: #e8645a;
$paleteColor6: #e2534b;
$paleteColor7: #f3f3f3;
$paleteColor8: #7f8c8c;
$paleteColor9: #b0b8b9; 
$paleteColor10: #e5e6e6;
$paleteColor11: #f8f8f8;
$paleteColor12: #83ccc6;
$paleteColor14: #ececec;
$paleteColor15: #777777;
$paleteColor16: #000;



$paddingAccordionRL: 20px;
$border-radiusTable: 5px;

//mixin

@mixin border-bottom_gray(){
    border-bottom: 3px solid $paleteColor10;
}
