// File for scss-vars.
// For example: main colors, paddings and so on.

$paleteColor1: #76c7c0;
$paleteColor2: #fff;
$paleteColor3: #62a29e;
$paleteColor4: #528b86;
$paleteColor5: #e8645a;
$paleteColor6: #e2534b;
$paleteColor7: #ececec;
$paleteColor8: #7f8c8c;
$paleteColor9: #b0b8b9; 
$paleteColor10: #e5e6e6;
$paleteColor11: #f8f8f8;



$paddingAccordionRL: 20px;

//mixin

@mixin border-bottom_gray(){
    border-bottom: 3px solid $paleteColor10;
}