<footer>
    <div class="footer_primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h1 class="logo">
                        MODUS<span>versus</span>
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec .
                    </p>
                    <div class="contact-info">
                        Phone: <span> 182 2569 5896</span>
                    </div>
                    <div class="contact-info">
                        e-mail: <span> info@modu.versus</span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#!">About</a></li>
                        <li><a href="#!">FAQ</a></li>
                        <li><a href="#!">Contact</a></li>
                        <li><a href="#!">Terms</a></li>
                        <li><a href="#!">Privacy</a></li>
                        <li><a href="#!">Testimonals</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3>Community</h3>
                    <ul>
                        <li><a href="#!">Blog</a></li>
                        <li><a href="#!">Forum</a></li>
                        <li><a href="#!">Support</a></li>
                        <li><a href="#!">Newsletter</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="the-blog_block">
                        <h3>
                            from the
                            <span>blog</span>
                        </h3>
                        <div class="blog_info">
                            <img src="static/img/content/blog-preview.png" alt="">
                            <div class="blog_description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <span class="blog_date">
                                26 May,2013
                            </span>
                            </div>
                        </div>
                        <div class="blog_info">
                            <img src="static/img/content/blog-preview.png" alt="">
                            <div class="blog_description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <span class="blog_date">
                                26 May,2013
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="footer_secondary">
                <div class="container">
                    <span>2013 ModusVersus</span>
                    <div class="social-links">
                        <a href="#!"><img src="static/img/minified-svg/facebook.svg" alt="facebok"></a>
                        <a href="#!"><img src="static/img/minified-svg/g-plus.svg" alt="g-plus"></a>
                        <a href="#!"><img src="static/img/minified-svg/twetter.svg" alt="twetter"></a>
                        <a href="#!"><img src="static/img/minified-svg/rss.svg" alt="rss"></a>
                    </div>
                </div>
        </div>
</footer>