<header>
    <div class="container header-wrapper">
        <div class="row">
            <h1 class="col-lg-2 logo">MODUS<span>versus</span></h1>
            <nav class="col-lg-8 col-lg-offset-2 col-xs-12">
                <ul>
                    <li>
                        <a href="#!">
                        home
                    </a>
                    </li>
                    <li>
                        <a href="#!">
                        about
                    </a>
                    </li>
                    <li>
                        <a href="#!">
                        services
                    </a>
                    </li>
                    <li>
                        <a href="#!">
                        portfolio
                    </a>
                    </li>
                    <li>
                        <a href="#!">
                        blog
                    </a>
                    </li>
                    <li>
                        <a href="#!">
                        features
                    </a>
                    </li>
                    <li>
                        <a href="#!">
                        contact
                    </a>
                    </li>
                    <li>
                        <a href="#!" id='open-search'>
                            <img src="static/img/general/search.png" alt="">
                        </a>
                        <form class="search-form hide">
                            <input type="text" placeholder="Search the site">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="header_footer">
    <div class="container">
        <div class="header_footer-wrapper">
            <span>{{page}}</span>
            <ul class="breadСrumb">
                <li><a href="#!">Home</a></li>
                <li><a href="#!">{{page}}</a></li>
            </ul>
        </div>
    </div>
</div>