
@media (max-width: 990px) {
    .logo {
        text-align: center;
    }
    .eleifend-libero_btn {
        display: flex;
        justify-content: center;
    }
    footer {
        .blog_block {
            display: inline-block;
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    nav {
        ul {
            flex-wrap: wrap;
            li {
                margin-top: 30px;
            }
        }
    }
    .tab-group {
        .nav-tabs {
            overflow: scroll;
        }
    }
    .tab-content .active {
        flex-direction: column-reverse;
        p {
            margin: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
}
